<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jadenyee.dao.RoleMapper">
    <resultMap id="roleDetail" type="com.jadenyee.pojo.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="keyword" property="keyword"/>
        <result column="description" property="description"/>
        <collection property="permissions"
                    javaType="java.util.HashSet"
                    ofType="com.jadenyee.pojo.Permission"
                    column="id"
                    select="com.jadenyee.dao.PermissionMapper.findByRoleId"
        />
    </resultMap>
    <sql id="base">
        SELECT id, name, keyword, description
        FROM t_role
    </sql>
    <select id="findAll" resultType="com.jadenyee.pojo.Role">
        <include refid="base"/>
    </select>
    <select id="findById" resultType="com.jadenyee.pojo.Role">
        <include refid="base"/>
        WHERE id = #{id}
    </select>
    <select id="findByUserId" resultMap="roleDetail" parameterType="integer">
        <include refid="base"/>
        WHERE id IN (SELECT role_id FROM t_user_role WHERE user_id = #{id})
    </select>
    <delete id="delete" parameterType="integer">
        DELETE
        FROM t_role
        WHERE id = #{id}
    </delete>
    <update id="update" parameterType="com.jadenyee.pojo.Role">
        UPDATE t_role
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="keyword != null">
                keyword = #{keyword},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <insert id="add" parameterType="com.jadenyee.pojo.Role">
        <selectKey keyProperty="id" resultType="integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_role(name,keyword,description)
        VALUE (#{name},#{keyword},#{description})
    </insert>
</mapper>