<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jadenyee.dao.SetmealMapper">
    <resultMap id="setmeal" type="com.jadenyee.pojo.Setmeal">
        <id property="id" column="id" />
        <result property="orderDate" column="orderDate" />
        <result property="number" column="number" />
        <result property="reservationa" column="reservations" />
        <collection property="checkGroups"
                    javaType="java.util.ArrayList"
                    ofType="com.jadenyee.pojo.CheckGroup"
                    column="id"
                    select="com.jadenyee.dao.CheckGroupMapper.findByIdMulti">
        </collection>
    </resultMap>
    <sql id="base">
        SELECT id,name,code,helpCode,sex,age,price,remark,attention,img FROM t_setmeal
    </sql>
    <select id="findAll" parameterType="integer" resultType="com.jadenyee.pojo.Setmeal">
        <include refid="base"/>
    </select>
    <select id="findById" parameterType="integer" resultMap="setmeal">
        <include refid="base"/>
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getCheckGroups" parameterType="integer" resultType="integer">
        SELECT checkgroup_id FROM t_setmeal_checkgroup WHERE setmeal_id = #{sid}
    </select>
    <select id="findByCondition" parameterType="string" resultType="com.jadenyee.pojo.Setmeal">
        <include refid="base" />
        <where>
            <if test="value !=null and value.length>0">
                name LIKE #{value} OR code LIKE #{value} OR helpCode LIKE #{value}
            </if>
        </where>
    </select>
    <select id="getSetmealStatisticByOrder" resultType="Map">
        SELECT t1.name as name,t2.oNumber as value
        FROM t_setmeal as t1
        RIGHT JOIN
        (SELECT setmeal_id,COUNT(id) as oNumber FROM t_order GROUP BY setmeal_id) as t2
        ON t2.setmeal_id = t1.id
    </select>
    <insert id="add" parameterType="com.jadenyee.pojo.Setmeal">
        <selectKey order="AFTER" resultType="integer" keyColumn="id" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_setmeal(name,code,helpCode,sex,age,price,remark,attention,img)
        VALUE(#{name},#{code},#{helpCode},#{sex},#{age},#{price},#{remark},#{attention},#{img})
    </insert>
    <insert id="addCheckGroups">
        INSERT INTO t_setmeal_checkgroup(setmeal_id,checkgroup_id) VALUES
            <foreach collection="cgIds" item="cgid" separator=",">
                (#{sid},#{cgid})
            </foreach>
    </insert>
    <delete id="delete" parameterType="integer">
        DELETE FROM t_setmeal WHERE id = #{sid}
    </delete>
    <delete id="deleteCheckGroups" parameterType="integer">
        DELETE FROM t_setmeal_checkgroup WHERE setmeal_id = #{sid}
    </delete>
</mapper>