<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            border-collapse:collapse;border: none;
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            border-bottom: 1px solid #d3dce6;
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
        .datatable tr:nth-child(2n){
            background-color:#f3f3f3;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>权限管理<small>用户管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>权限管理</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="用户名" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                <el-button @click="findSearch()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleUser()">新建用户</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" label="序号" align="center" ></el-table-column>
                <el-table-column prop="username" label="用户名" align="center"></el-table-column>
                <el-table-column label="性别" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.gender == '1' ? '男' : '女'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="birthday" label="出生日期" align="center"></el-table-column>
                <el-table-column prop="telephone" label="电话号码" align="center"></el-table-column>
                <el-table-column prop="station" label="状态" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.station == '1' ? '已激活' : '未激活'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="remark" label="备注" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新建用户标签弹层 -->
            <div class="add-form">
                <el-dialog title="新建用户" :visible.sync="dialogFormVisible">

                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户名" prop="username">
                                    <el-input v-model="formData.username"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="密码" prop="password"  >
                                    <el-input type="password" v-model="formData.password"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="性别">
                                    <el-select v-model="formData.gender">
                                        <el-option label="女" value="0"></el-option>
                                        <el-option label="男" value="1"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="出生日期">
                                    <el-date-picker type="date" placeholder="选择日期"v-model="formData.birthday" style="width: 100%;"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="电话号码" prop="telephone">
                                    <el-input v-model="formData.telephone" placeholder="请输入手机号"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="状态">
                                    <el-select v-model="formData.station">
                                        <el-option label="未激活" value="0"></el-option>
                                        <el-option label="已激活" value="1"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="备注">
                                    <el-input v-model="formData.remark" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        </el-form>

                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑弹层 -->
            <div class="add-form">
                <el-dialog title="编辑用户" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="用户信息" name="first">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="用户名" prop="username">
                                                <el-input v-model="formData.username"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="密码" prop="password"  >
                                                <el-input type="password" v-model="formData.password"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="性别">
                                                <el-select v-model="formData.gender">
                                                    <el-option label="女" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="出生日期">
                                                <el-date-picker type="date" placeholder="选择日期"v-model="formData.birthday" style="width: 100%;"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="电话号码" prop="telephone">
                                                <el-input v-model="formData.telephone" placeholder="请输入手机号"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="状态">
                                                <el-select v-model="formData.station">
                                                    <el-option label="未激活" value="0"></el-option>
                                                    <el-option label="已激活" value="1"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="备注">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="添加用户的角色" name="second">
                                <div>
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>角色名</th>
                                            <th>角色关键词</th>
                                            <th>选择</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td><label :for="c.id">{{c.id}}</label></td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td>
                                                <input :id="c.id" v-model="checkitemIds" type="checkbox" :value="c.id">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleUserRole()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<script>

        var checkPhone = (rule, value, callback) => {
            const phoneReg = /^1[3|4|5|7|8][0-9]{9}$/
            if (!value) {
                return callback(new Error('电话号码不能为空'))
            }
            setTimeout(() => {
                // Number.isInteger是es6验证数字是否为整数的方法,但是我实际用的时候输入的数字总是识别成字符串
                // 所以我就在前面加了一个+实现隐式转换

                if (!Number.isInteger(+value)) {
                    callback(new Error('请输入数字值'))
                } else {
                    if (phoneReg.test(value)) {
                        callback()
                    } else {
                        callback(new Error('电话号码格式不正确'))
                    }
                }
            }, 100)
        }

    var vue = new Vue({
        el: '#app',
        data: {
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize: 10,
                total: 100,
                queryString: null,
            },
            activeName: 'first',
            user_id:null,//添加角色时所选用户的id
            dataList: [],//列表数据
            formData: {},//新建用户表单数据
            tableData: [],//添加角色窗口中对应的角色列表数据
            checkitemIds: [],//添加用户对应的角色复选框，基于双向绑定可以进行回显和数据提交
            dialogFormVisible: false,//控制新建用户窗口显示/隐藏
            dialogFormVisible4Edit: false,//控制添加角色窗口显示/隐藏
            rules: {//校验规则
                username: [{ required: true, message: '用户名为必填项', trigger: 'blur' }],
                password: [{ required: true, message: '密码为必填项', trigger: 'blur' }],
                telephone: [{ validator: checkPhone, trigger: 'blur' }]
            }
        },
        methods: {
            findSearch() {
                var param = {
                    currentPage: 1,
                    pageSize: 10,
                    queryString: this.pagination.queryString
                };
                axios.post("/authority/userList.do", param).then((res) => {
                    this.pagination.total = res.data.total;
                this.dataList = res.data.rows;
                this.pagination.currentPage = 1;
            });
            },
            // 重置表单
            resetForm() {
                this.formData = {};
                this.checkitemIds = [];
            },
            // 弹出添加用户窗口
            handleUser() {
                this.resetForm();
                this.dialogFormVisible = true;

            },
            // 添加用户
            handleAdd() {
                this.$refs['dataAddForm'].validate((valid) => {
                        if (valid) {
                            axios.post("/authority/userAdd.do" ,this.formData).then((res) => {
                                if (res.data.flag) {
                                    this.$message({
                                        message: res.data.message,
                                        type: 'success'
                                    });
                                } else {
                                    this.$message.error(res.data.message);
                                }
                            }).finally(() => {
                                this.findPage();
                            });
                            this.dialogFormVisible = false;
                        }else {
                            this.$message.error("表单数据校验失败");
                            return false;
                        }
                });
            },
            //分页查询
            findPage() {
                var param = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString
                }
                axios.post("/authority/userList.do", param).then((res) => {
                    this.pagination.total = res.data.total;
                this.dataList = res.data.rows;
            });
            },

            // 弹出添加角色窗口
            handleUpdate(row) {
                this.resetForm();
                this.activeName = 'first';
                user_id = row.id;
                axios.get("/authority/findAllUser.do?id=" + row.id).then((res)=>{
                    if (res.data.flag){
                        this.formData = res.data.data;
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
                //查询全部的角色
                axios.get("/authority/findAllRole.do").then((res)=>{
                    if (res.data.flag){
                        this.tableData = res.data.data;
                        axios.get("/authority/findRolesByUser.do?id=" + row.id).then((res) => {
                            if (res.data.flag){
                                this.checkitemIds = res.data.data;
                            } else {
                                this.$message.error(res.data.message);
                            }
                        });
                    } else {
                        this.$message.error(res.data.message);
                    }
                });

                this.dialogFormVisible4Edit = true;

            },
            //编辑用户和角色信息
            handleUserRole() {
                axios.post("/authority/editUser.do" ,this.formData).then((res) => {
                    if (res.data.flag) {
                        axios.post("/authority/userRoleAdd.do?userId=" + user_id ,this.checkitemIds).then((res) => {
                            if (res.data.flag) {
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                            } else {
                                this.$message.error(res.data.message);
                            }
                        });
                    } else {
                        this.$message.error(res.data.message);
                    }
                }).finally(() => {
                    this.findPage();
                });

                this.dialogFormVisible4Edit = false;

            },
            // 删除
            handleDelete(row) {
                this.$confirm("确认删除吗？", "提示", {type: 'warning'}).then(() => {
                    axios.get("/authority/deleteUser.do?id=" + row.id).then((res) => {
                        if (res.data.flag) {
                            this.$message({
                                message: res.data.message,
                                type: 'success'
                            });
                        } else {
                            this.$message.error(res.data.message);
                        }
                    }).catch((r) => {
                        this.showMessage(r);
                    }).finally(() => {
                        this.findPage();
                    });
                }).catch(() => {
                    this.$message({
                        message: '操作已取消',
                        type: 'info'
                    });
                });
            },

            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
           
        },
        created() {
            this.findPage();
        }
    })

</script>
</html>
